# Reference
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# Global owners
# Ensure maintainers team is a requested reviewer for non-draft PRs
*                       @filecoin-project/lotus-maintainers
