/lotus
/lotus-storage-miner
/pond
/townhall
/lotuspond/front/node_modules
/lotuspond/front/build
**/*.h
**/*.a
**/*.pc
build/.*
build/paramfetch.sh
/vendor

*-fuzz.zip
/chain/types/work_msg/
bin/ipget
bin/tmp/*
