[submodule "extern/filecoin-ffi"]
	path = extern/filecoin-ffi
	url = https://github.com/DeepBrainChain/DBC-filecoin-ffi
        branch = 777a6fb-webapi
[submodule "extern/serialization-vectors"]
	path = extern/serialization-vectors
	url = https://github.com/filecoin-project/serialization-vectors
[submodule "extern/test-vectors"]
	path = extern/test-vectors
	url = https://github.com/filecoin-project/test-vectors.git
