/lotus
/lotus-miner
/lotus-worker
/lotus-seed
/lotus-health
/lotus-chainwatch
/lotus-shed
/lotus-sim
/sptool
/lotus-townhall
/lotus-fountain
/lotus-stats
/lotus-bench
/lotus-gateway
/lotus-pcr
/lotus-wallet
/lotus-keygen
/docgen-md
/docgen-openrpc
/bench.json
/cmd/lotus-townhall/townhall/node_modules
/cmd/lotus-townhall/townhall/build
/cmd/lotus-townhall/townhall/package-lock.json
extern/filecoin-ffi/rust/target
**/*.a
**/*.pc
/**/*/.DS_STORE
.DS_STORE
.go-version
build/.*
build/paramfetch.sh
/vendor
/blocks.dot
/blocks.svg
/chainwatch.db
/bundle
/darwin
/linux
*.snap
devgen.car
localnet.json
/*.ndjson

*-fuzz.zip
/chain/types/work_msg/
bin/ipget
bin/tmp/*
.idea
.vscode
scratchpad

build/builtin-actors/v*
build/builtin-actors/*.car

dist/
# deprecated
darwin_amd64_v1/
darwin_arm64/
# deprecated
darwin_all/
linux_amd64_v1/

xx*
release_body.md

# The following files are checked into git and result
# in dirty git state if removed from the docker context
!extern/filecoin-ffi/rust/filecoin.pc
!extern/test-vectors
