.bgcols {
    color: #55443A;
    color: #3D553A;
    color: #3A4B55;
    color: #523A55;
}

.bgmono {
    color: #735C4F;

    color: #8E7261;
    color: #A38878;
}

.txt {
    color: #FCF9F5;
}

.tcols-w3 {
    color: #F5EEF2;
    color: #F5F4EE;
    color: #EEF5F1;
    color: #EEEEF5;
}

.tcols-w2 {
    color: #E3D0DB;
    color: #E3E1D0;
    color: #D0E3D8;
    color: #D0D1E3;
}

.tcols-w1 {
    color: #D3B4C6;
    color: #D3D0B4;
    color: #B4D3C1;
    color: #B4B7D3;
}

.tcols-w0 {
    color: #C6A0B6;
    color: #C6C3A0;
    color: #A0C6B0;
    color: #A0A3C6;
}

/* common */

html, body {
    font-family: monospace;

    background-color: #1F1F1F;
    color: #aaaaaa;
}

table {
    font-size: 0.95em;

    background: #454545;

    /*border: #171717 solid 0.3em;*/
}

td {
    padding: 0.2em 0.3em;
    vertical-align: top;
    text-align: left;
}

tr:hover {
    background: #353535;
}

/*
tr:nth-child(even) {background: #333333}
tr:nth-child(odd) {background: #454545}
 */

div.ipld-data {
    background: #454545;
}

div.node {
    padding: 1px 1px 1px 3px;
}

span.node:hover {
    background: #353535;
}

div.subnode {
    padding-left: 2em;
}

div.multinode {
    display: block;
}

.nodekey, .size-k, .find-fastretr {
    color: #A0A3C6;
}

.strnode, .size-m {
    color: #C6A0B6;
}

.numnode, .size-g, .find-verified {
    color: #A0C6B0;
}

a:link {
    color: #9ECDE8;
    text-decoration: none;
}

a:active {
    color: #3A4B55;
    text-decoration: none;
}

a:visited {
    color: #A474AB;
    text-decoration: none;
}

a:hover {
    color: #96D18E;
    text-decoration: none;
}

.hex-offsets {
    display: inline-block;
}

.hex-bytes, .hex-printables {
    display: inline-block;
    margin-left: 1em;
}

.hex-noprint-null {
    color: #5A8BBB;
}

.hex-noprint-low {
    color: #A474AB;
}

.hex-noprint-high {
    color: #96D18E;
}

/* find */

.find-content {
    background: #454545;
}

.find-provider-entry {
    margin-left: 1em;
}

/* minersectors */

.snum-sector {
    font-weight: bold;
    display: block;

    padding: 4px;
    margin: 7px;
    background: #454545;
}

.snum-deal {
    display: inline-block;
}

.snum-dealcid {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 4px;
    width: 50ex;
    display: block;
}
