[Unit]
Description=Lotus Miner
After=network.target
## Only if lotus-daemon and lotus-miner on the same machine
#After=lotus-daemon.service
#Wants=lotus-daemon.service

[Service]
Environment=GOLOG_FILE="/var/log/lotus/miner.log"
Environment=GOLOG_LOG_FMT="json"
Environment=FIL_PROOFS_PARENT_CACHE="/data-param/mainnet/filecoin-parents"
Environment=FIL_PROOFS_PARAMETER_CACHE="/data-param/mainnet/filecoin-proof-parameters"
Environment=IPFS_GATEWAY="https://proof-parameters.s3.cn-south-1.jdcloud-oss.com/ipfs"
Environment=LOTUS_MINER_PATH="~/Filecoin/minerrepo"
Environment=TMPDIR="${LOTUS_MINER_PATH}/tmp"
## !!! CHANGE IT !!!
## On your lotus-daemon machine, $(lotus auth api-info --perm admin)
## !!! CHANGE IT !!!
Environment=FULLNODE_API_INFO="eyJhbGXXXXXXXXr8vY:/ip4/10.1.1.1/tcp/1234/http"
Environment=TRUST_PARAMS=1
Environment=RUST_LOG=info
Environment=BIN_DIR="/data-u2/mainnet/bin"
ExecStart=${BIN_DIR}/lotus-miner run
LimitNOFILE=1048576
Restart=on-failure
RestartSec=10

## !!! CHANGE IT !!!
User=lts
Group=lts

[Install]
WantedBy=multi-user.target
