.App {
  min-height: 100vh;
  background: #b7c4cd;
  font-family: monospace;
}

.FullNode {
  background: #f9be77;
  user-select: text;
  font-family: monospace;
  min-width: 40em;
  display: inline-block;
}

.CristalScroll {
  min-width: 100%;
  height: 100%;
  overflow: auto;
}