.App {
  min-height: 100vh;
  background: #b7c4cd;
  font-family: monospace;
}

.NodeList {
  background: #f9be77;
  user-select: text;
  font-family: monospace;
  min-width: 40em;
  display: inline-block;
}

.FullNode {
  background: #f9be77;
  user-select: text;
  font-family: monospace;
  min-width: 40em;
  display: inline-block;
}

.StorageNode {
  background: #f9be77;
  user-select: text;
  font-family: monospace;
  min-width: 40em;
  display: inline-block;
}

.Block {
  background: #f9be77;
  user-select: text;
  font-family: monospace;
  min-width: 40em;
  display: inline-block;
}

.State {
  background: #f9be77;
  user-select: text;
  font-family: monospace;
  min-width: 40em;
  display: inline-block;
}

.CristalScroll {
  display: flex;
  min-width: 100%;
  min-height: 100%;
  overflow: auto;
}

.Consensus {
  font-family: monospace;
}