{{define "chain_rpcs"}}
{{range .}}
<tr>
    <td>{{.Address}}</td>
    <td>
        {{range .CLayers}}
        <span>{{.}} </span>
        {{end}}
    </td>
    <td>{{if .Reachable}}<span class="success">ok</span>{{else}}<span class="error">FAIL</span>{{end}}</td>
    <td>{{if eq "ok" .SyncState}}<span class="success">ok</span>{{else}}<span class="warning">{{.SyncState}}</span>{{end}}</td>
    <td>{{.Version}}</td>
</tr>
{{end}}
{{end}}
