<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{{ .maddr }} - Deals - Data Explorer</title>
    <style>
        html, body {
            font-family: monospace;
        }
        td {
            padding: 0 1em;
        }
        tr:nth-child(even) {background: #e0e0e0}
    </style>
</head>
<body>
<div>
    {{ $ma := .maddr }}
    {{range .sectors}}
        {{if (gt (len .DealIDs) 0)}}
            <div>
                <h3>Sector {{.SectorNumber}}
                    {{range .DealIDs}}
                        <a href="/deal/{{.}}">Deal {{.}}</a>
                    {{end}}
                </h3>
            </div>
        {{end}}
    {{end}}
</div>
</body>
</html>