<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Directory - Data Explorer</title>
</head>
<body>
<div>
    <table>
    {{$url := .url}}
    {{range $i, $e := .entries}}
        <tr>
            <td><a href="{{$url}}Links/{{$i}}/Hash/?filename={{$e.Name}}">{{$e.Name}}</a></td>
            <td>{{$e.Cid}}</td>
            <td>{{$e.Size}}</td></tr>
    {{end}}
    </table>
</div>
</body>
</html>