[Unit]
Description=Lotus Daemon
After=network.target

[Service]
ExecStart=/usr/local/bin/lotus daemon
Environment=GOLOG_FILE="/root/.lotus/logs"
Environment=GOLOG_LOG_FMT="json"

[Install]
WantedBy=multiuser.target
