[Unit]
Description=Lotus Miner
After=network.target
After=lotus-daemon.service
Wants=lotus-daemon.service

[Service]
ExecStart=/usr/local/bin/lotus-miner run
Environment=GOLOG_FILE="/var/log/lotus/miner.log"
Environment=GOLOG_LOG_FMT="json"

[Install]
WantedBy=multi-user.target
