[Unit]
Description=Lotus Provider
After=network.target
After=lotus-daemon.service

[Service]
ExecStart=/usr/local/bin/lotus-provider run
Environment=GOLOG_FILE="/var/log/lotus/provider.log"
Environment=GOLOG_LOG_FMT="json"
LimitNOFILE=1000000
[Install]
WantedBy=multi-user.target
