[Unit]
Description=Lotus Miner
After=network-online.target
Requires=network-online.target

[Service]
User=lotus
Group=lotus
ExecStart=/usr/bin/lotus-miner run
Environment=LOTUS_PATH=/var/lib/lotus
Environment=LOTUS_MINER_PATH=/var/lib/lotus-miner
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
