[Unit]
Description=Lotus Daemon
After=network-online.target
Requires=network-online.target

[Service]
Environment=GOLOG_FILE="/var/log/lotus/daemon.log"
Environment=GOLOG_LOG_FMT="json"
ExecStart=/usr/local/bin/lotus daemon
Restart=always
RestartSec=10

StartLimitIntervalSec=60s
StartLimitBurst=4

# If running a node in a shared, memory constrained environment, enable MemoryAccounting to put
# pressure on allocations. This will slow the process down but keep it approximately within the
# limit specified.
#MemoryAccounting=true
#MemoryHigh=64G
#MemoryMax=96G

LimitNOFILE=8192:16384

[Install]
WantedBy=multi-user.target
