{{define "cluster_machines"}}
{{range .}}
    <tr>
        <td>{{.Address}}</td>
        <td>{{.ID}}</td>
        <td>{{.SinceContact}}</td>
        {{range .RecentTasks}}
            <td>{{.TaskName}}:{{.Success}}{{if ne 0 .Fail}}(<i class="{{if eq 0 .Success}}error{{else}}warning{{end}}">{{.Fail}}</i>){{end}}</td>
        {{end}}
    </tr>
{{end}}
{{end}}
