{{define "cluster_machines"}}
{{range .}}
    <tr>
        <td><a href="/hapi/node/{{.ID}}">{{.Address}}</a></td>
        <td>{{.ID}}</td>
        <td>{{.Cpu}}</td>
        <td>{{.RamHumanized}}</td>
        <td>{{.Gpu}}</td>
        <td>{{.SinceContact}}</td>
        {{range .RecentTasks}}
            <td>{{.TaskName}}:{{.Success}}{{if ne 0 .Fail}}(<i class="{{if eq 0 .Success}}error{{else}}warning{{end}}">{{.Fail}}</i>){{end}}</td>
        {{end}}
    </tr>
{{end}}
{{end}}
