<!DOCTYPE html>
<html>
<head>
    <title>Lotus ChainWatch</title>
    <link rel="stylesheet" type="text/css" href="main.css">
</head>
<body>
{{$wallet := param "w"}}

<div class="Index">
    <div class="Index-header">
        <div>
            <span>Lotus ChainWatch - Wallet {{$wallet}}</span>
        </div>
    </div>
    <div class="Index-nodes">
        <div class="Index-node">
            Balance: {{queryNum "select balance from actors inner join id_address_map m on m.address = $1 where actors.id = m.id order by nonce desc limit 1" $wallet }}
        </div>
        <div class="Index-node">
            Messages:
            <table>
                <tr><td>Dir</td><td>Peer</td><td>Nonce</td><td>Value</td><td>Block</td><td>Mpool Wait</td></tr>
                {{ range messages "\"from\" = $1 or \"to\" = $1" $wallet}}
                    <tr>
                        {{ if eq .From.String $wallet }}
                            <td>To</td><td><a href="key.html?w={{.To.String}}">{{.To.String}}</a></td>
                        {{else}}
                            <td>From</td><td><a href="key.html?w={{.From.String}}">{{.From.String}}</a></td>
                        {{end}}
                        <td>{{.Nonce}}</td>
                        <td>{{.Value}}</td>
                    </tr>
                {{end}}
            </table>
        </div>
    </div>
</div>
</body>
</html>
