<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Client Deals - Data Explorer</title>
    <link rel="stylesheet" href="/static/root.css">
</head>
<body>
<div>
    {{ $sda := .StorageDealActive }}
    {{range .deals}}
        {{if eq $sda .State}}
            <div>
                <a href="/deal/{{.DealID}}">Deal {{.DealID}}</a>
            </div>
        {{end}}
    {{end}}
</div>
</body>
</html>