<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Directory - Data Explorer</title>
    <link rel="stylesheet" href="/static/root.css">
</head>
<body>
<div>
    <script>
        async function checkDesc(h, u) {
            let e = h.parentElement
            e.innerHTML = "<i>Checking</i>"

            let fr = await fetch(u, {method: 'HEAD'})

            e.innerHTML = ""

            if(!fr.ok) {
                e.innerText = "ERR: " + fr.statusText
                return
            }

            if(fr.headers.has("X-Desc")) {
                e.innerText = fr.headers.get("X-Desc")
            } else {
                e.innerText = "FILE (" + fr.headers.get("Content-Type") + ")"
            }
        }
    </script>
    <h3>IPFS View</h3>
    <div>

        {{if .filRetrieval}}
            <span><a href="/minersectors/{{.provider}}">{{.provider}}</a> / </span>
            <span><a href="/view/{{.provider}}/{{.pieceCid}}/{{.dataCid}}/">{{.pieceCid}}</a> / </span>
        {{end}}

        <span><a href="/view/{{.provider}}/{{.pieceCid}}/{{.dataCid}}/">{{.dataCid}}</a> / </span>


        {{$purl := (print "/view/" .provider "/" .pieceCid "/" .dataCid "/") }}
        {{range .path}}
            {{$purl = (print $purl .Name "/")}}
            {{if .Link}}
                <span><a href="{{$purl}}">{{.Name}}</a> / </span>
            {{else}}
                <span>{{.Name}} / </span>
            {{end}}
        {{end}}

    </div>
    <h5>
        <a href="{{.carurl}}">[CAR]</a>
        <a href="{{.url}}?view=ipld">[IPLD]</a>
    </h5>
    <span>node: <i>{{ .node }}</i><a href="/find/{{ .node }}">[find]</a> (<b>{{ .desc }}</b>)</span>
    <hr>
    <table>
    {{$url := .url}}
    {{$carurl := .carurl}}
    {{range $i, $e := .entries}}
        <tr>
            <td><a href="{{$url}}Links/{{$i}}/Hash/?filename={{$e.Name}}">{{$e.Name}}</a></td>
            <td><a href="{{$carurl}}Links/{{$i}}/Hash/?filename={{$e.Name}}">[CAR]</a><a href="{{$url}}Links/{{$i}}/Hash/?filename={{$e.Name}}&view=ipld">[IPLD]</a></td>
            <td class="size-{{$e.Size | sizeClass}}">{{$e.Size}}</td>
            <td>{{if eq "" $e.Desc}}??? (<a href="javascript:void(0)" onclick="checkDesc(this, '{{$url}}Links/{{$i}}/Hash/?filename={{$e.Name}}')">check</a>){{else}}{{$e.Desc}}{{end}}</td>
            <td><span><i>({{$e.Cid}}<a href="/find/{{ $e.Cid }}">[find]</a>)</i></span></td>
        </tr>
    {{end}}
    </table>
</div>
</body>
</html>