<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Data Explorer</title>
    <style>
        html, body {
            font-family: monospace;
        }
        td {
            padding: 0 1em;
        }
        tr:nth-child(even) {background: #e0e0e0}
    </style>
</head>
<body>
<h2>DATA EXPLORER</h2>
<div>
    <a href="/miners">[MINERS]</a>
</div>
<div>
    <a href="/deals">[OWN DEALS]</a>
</div>
</body>
</html>
