<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Data Explorer</title>
    <link rel="stylesheet" href="/static/root.css">
</head>
<body>
<h2>DATA EXPLORER</h2>
<div>
    <a href="/miners">[MINERS]</a>
</div>
<div>
    <a href="/deals">[OWN DEALS]</a>
</div>
</body>
</html>
