<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>IPLD - Data Explorer</title>
    <link rel="stylesheet" href="/static/root.css">
    <script>
        async function checkDesc(h, u) {
            let e = h.parentElement
            e.innerHTML = "<i>Checking</i>"

            let fr = await fetch(u, {method: 'HEAD'})

            e.innerHTML = ""

            if(!fr.ok) {
                e.innerText = "ERR: " + fr.statusText
                return
            }

            let size = ""

            if(fr.headers.has("X-HumanSize")) {
                size = " " + fr.headers.get("X-HumanSize")
            }

            if(fr.headers.has("X-Desc")) {
                e.innerText = fr.headers.get("X-Desc") + size
            } else {
                e.innerText = "FILE (" + fr.headers.get("Content-Type") + ")" + size
            }
        }
    </script>
</head>
<body>
    <h3>IPLD View</h3>
    <h4>
        <a href="{{.carurl}}">[CAR]</a>
        {{if .ipfs}}<a href="{{.url}}?view=ipfs">[IPFS]</a>{{end}}
    </h4>
    <span>node: <i>{{ .node }}</i> (<b>{{ .desc }}</b>)</span>
    <hr>

    <div>
    {{ .content }}
    </div>
</body>
</html>