<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>IPLD - Data Explorer</title>
    <link rel="stylesheet" href="/static/root.css">
    <script>
        async function checkDesc(h, u) {
            let e = h.parentElement
            e.innerHTML = "<i>Checking</i>"

            let fr = await fetch(u, {method: 'HEAD'})

            e.innerHTML = ""

            if(!fr.ok) {
                e.innerText = "ERR: " + fr.statusText
                return
            }

            let size = ""

            if(fr.headers.has("X-HumanSize")) {
                size = " " + fr.headers.get("X-HumanSize")
            }

            if(fr.headers.has("X-Desc")) {
                e.innerText = fr.headers.get("X-Desc") + size
            } else {
                e.innerText = "FILE (" + fr.headers.get("Content-Type") + ")" + size
            }
        }
    </script>
</head>
<body>
    <h3>IPLD View</h3>
    <div>

    {{if .filRetrieval}}
        <span><a href="/minersectors/{{.provider}}">{{.provider}}</a> / </span>
        <span><a href="/view/{{.provider}}/{{.pieceCid}}/{{.dataCid}}/">{{.pieceCid}}</a> / </span>
    {{end}}

    <span><a href="/view/{{.provider}}/{{.pieceCid}}/{{.dataCid}}/">{{.dataCid}}</a> / </span>


    {{$purl := (print "/view/" .provider "/" .pieceCid "/" .dataCid "/") }}
    {{range .path}}
        {{$purl = (print $purl .Name "/")}}
        {{if .Link}}
            <span><a href="{{$purl}}">{{.Name}}</a> / </span>
        {{else}}
            <span>{{.Name}} / </span>
        {{end}}
    {{end}}

    </div>
    <h5>
        <a href="{{.carurl}}">[CAR]</a>
        {{if .ipfs}}<a href="{{.url}}?view=ipfs">[IPFS]</a>{{end}}
        {{if .reinterpCbor}}<a href="{{.url}}?view=ipld&reinterp=dag-cbor">[AS DAG-CBOR]</a>{{end}}
        {{if .reinterpPB}}<a href="{{.url}}?view=ipld&reinterp=dag-pb&dirchecks=0">[AS DAG-PB]</a>{{end}}
        {{if .reinterpRaw}}<a href="{{.url}}?view=ipld&reinterp=raw">[AS RAW]</a>{{end}}
    </h5>
    <span>node: <i>{{ .node }}</i><a href="/find/{{ .node }}">[find]</a> (<b>{{ .desc }}</b>)</span>
    <hr>

    <div class="ipld-data">
    {{ .content }}
    </div>
</body>
</html>