<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{{ .maddr }} - Deals - Data Explorer</title>
    <link rel="stylesheet" href="/static/root.css">
</head>
<body>
<div>
    <span id="ping{{.maddr}}" onload="pingMiner()">pinging..</span>
    <script>
        async function pingMiner(ma) {
            document.getElementById("ping"+ma).innerText = "connecting.."

            let r = await fetch("/ping/miner/"+ma)

            document.getElementById("ping"+ma).innerText = await r.text()
        }

        addEventListener('load', (_) => {
            pingMiner('{{.maddr}}')
        })
    </script>

    {{ $ma := .maddr }}
    {{ $deals := .deals }}
    {{range .sectors}}
        {{if (gt (len .DealIDs) 0)}}
                <div class="snum-sector">
                    <span>{{.SectorNumber}}</span>
                    <div>
                        {{range .DealIDs}}
                            <div class="snum-deal">
                                <div><a href="/deal/{{.}}">{{.}}</a> ({{ (index $deals .).Size }})</div>
                                <div><span class="snum-dealcid">{{ (index $deals .).DealCID }}</span></div>
                            </div>
                        {{end}}
                    </div>
                </div>
        {{end}}
    {{end}}
</div>
</body>
</html>