
html {
    min-height: 100vh;
    background: rgb(11, 22, 34);
    padding: 0;
}

body {
    margin: 0;
    padding: 3px 4px;
    background: rgb(11, 22, 34);
}

curio-ux {
    /*  To resemble Clarity Design  */
    color: rgb(227, 234, 237);
    font-family: Metropolis, monospace;
    font-weight: 400;
    background: rgb(11, 22, 34);
}


.app-head {
    width: 100%;
}

.head-left {
    display: inline-block;
}

.head-right {
    display: inline-block;
    float: right;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: #adf7ad;
}

a:hover {
    color: #88cc60;
}

.success {
    color: greenyellow;
}

.warning {
    color: yellow;
}

.error {
    color: red;
}

@font-face {
    font-family: metropolis;
    font-style: normal;
    font-weight: 400;
    src: local('Metropolis'), url(/ux/fonts/Metropolis-Regular.woff) format('woff')
}

@font-face {
    font-family: metropolis;
    font-style: normal;
    font-weight: 400;
    src: local('Metropolis'), url(/ux/fonts/Metropolis-ExtraLight.woff) format('woff')
}

@font-face {
    font-family: metropolis;
    font-style: normal;
    font-weight: 400;
    src: local('Metropolis'), url(/ux/fonts/Metropolis-Light.woff) format('woff')
}

@font-face {
    font-family: metropolis;
    font-style: normal;
    font-weight: 400;
    src: local('Metropolis'), url(/ux/fonts/Metropolis-Thin.woff) format('woff')
}

@font-face {
    font-family: metropolis;
    font-style: normal;
    font-weight: 500;
    src: local('Metropolis'), url(/ux/fonts/Metropolis-Medium.woff) format('woff')
}

@font-face {
    font-family: metropolis;
    font-style: normal;
    font-weight: 700;
    src: local('Metropolis'), url(/ux/fonts/Metropolis-Bold.woff) format('woff')
}

@font-face {
    font-family: metropolis;
    font-style: normal;
    font-weight: 800;
    src: local('Metropolis'), url(/ux/fonts/Metropolis-ExtraBold.woff) format('woff')
}