@import url('https://fonts.cdnfonts.com/css/metropolis-2');

html {
    min-height: 100vh;
    background: rgb(11, 22, 34);
    padding: 0;
}
body {
    margin: 0;
    padding: 3px 4px;
    background: rgb(11, 22, 34);
}
curio-ux {
    /*  To resemble Clarity Design  */
    color: rgb(227, 234, 237);
    font-family: Metropolis, monospace;
    font-weight: 400;
    background: rgb(11, 22, 34);
}


.app-head {
    width: 100%;
}
.head-left {
    display: inline-block;
}
.head-right {
    display: inline-block;
    float: right;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #adf7ad;
}

a:hover {
    color: #88cc60;
}

.success {
    color: greenyellow;
}
.warning {
    color: yellow;
}
.error {
    color: red;
}
